[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pillow = "*"
numpy = "*"
cozmo = "==1.4.5"
pynput = "*"

[dev-packages]

[requires]
python_version = "3.7"
